* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-image: linear-gradient(#fff, #ced4da);
  min-height: 100vh;
}

/* Error message */

.error-message {
  font-size: 4.8rem;
  font-weight: 600;
  margin-top: 20rem;
  color: #ff6b6b;
}

/* choose country message */
.choose-box {
  font-size: 2.8rem;
  width: 120rem;
  margin: 20rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choose-box div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.choose-message {
  margin: 1.2rem 0;
}

.choose-country {
  color: #555;
  border-bottom: 2px solid #555;
  cursor: pointer;
  display: inline-block;
  margin: 1.2rem;
}

.choose-country:hover {
  color: #333;
  border-bottom: 2px solid #333;
}

/* Styling header */
.header {
  width: 100%;
  padding: 4.8rem;
}

.main-heading {
  font-size: 3.6rem;
  color: #555;
  font-weight: 700;
}

.form-country {
  padding: 2.4rem 0;
}

.label {
  display: block;
  font-size: 1.8rem;
  padding: 1.2rem 0;
  color: #555;
  font-weight: 700;
}

.input-country {
  padding: 0.6rem;
  font-family: inherit;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;

  background-color: #333;
  color: #fff;
  font-family: inherit;
  padding: 0.6rem 1.2rem;
  font-size: 1.6rem;
  border-radius: 4px;
  margin-left: 1.2rem;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #222;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.6rem;
}

/* Styling the country */

.country,
.neighbour {
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.2);
  background-color: #ddd;
}

.country-image-box {
  max-width: 32rem;
  height: 21.6rem;
}

.country-image {
  width: 100%;
  height: 100%;
}

.country-name {
  color: #444;
  font-size: 2.8rem;
  text-align: center;
  padding: 1.2rem;
  font-weight: 700;
}

.country-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  font-size: 1.6rem;
  padding: 1.2rem;
  color: #222;
  width: 32rem;
}

.label {
  font-weight: 600;
}

/* Styling the neighbouring country */
.neighbour {
  position: relative;
  width: 30rem;
  height: 47rem;
}

.neighbour-image-box {
  width: 30rem;
  height: 15rem;
}

.neighbour-image {
  width: 100%;
  height: 100%;
}

.neighbour-name {
  color: #666;
  font-size: 2.4rem;
  text-align: center;
  padding: 1.2rem;
  font-weight: 700;
}

.neighbour-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  font-size: 1.4rem;
  padding: 1.2rem;
  color: #222;
  width: 30rem;
}

.neighbour-label {
  display: inline-block;
  position: absolute;
  z-index: 9999;
  font-size: 1.4rem;
  padding: 0.6rem 2.4rem;
  /* width: 15rem; */
  background-color: #777;
  color: #20c997;
  text-transform: uppercase;

  top: 5%;
  right: -11%;
  transform: rotate(45deg);
}

.no-neighbours {
  font-size: 2.4rem;
  color: #333;
}
